.form-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  label {
    margin-left: 5%;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 150%;
  }
  
  .submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .submit-button:hover {
    background-color: #005fa3;
  }
  
  .close-button {
    position: absolute;
    margin-top: -30rem;
    margin-left: -25rem;
    padding: 10px 20px;
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
.g-button{
  width: 15rem;
  height: 2.5rem;
}