.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    /* display: flex;
    flex-direction: row; */
    /* justify-content: space-between; */
    /* width: 80%; */
    margin-left: 20%;
    position: absolute;
    background-color: greenyellow;
}

.learn {
    width: 80%;
    margin-left: 20.5%;
}

.learn-header{
    height:50px;
    width:100%;
    border-bottom: rgb(205, 205, 205) solid;
}