.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 12px 16px;
    border-radius: 50px;
    font-size: 15px;
    /* display: flex;
    flex-direction: row; */
    /* justify-content: space-between; */
    /* width: 80%; */
    margin-left: 28%;
    position: relative;
    top: 5px;
    background-color: greenyellow;
}

.learn {
    width: 80%;
    margin-left: 20.5%;
}

.learn-header{
    height:50px;
    width:55%;
    margin-left: 5%;
    margin-top: 30px;
    border-bottom: rgb(205, 205, 205) solid;
}


.rsb-learn {
    position: relative;
    left: 68.87%;
    position:absolute;
    top : 0%;
<<<<<<< HEAD
}
=======
}
>>>>>>> origin
