.sect{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 80%;
    margin-left: 20.5%;
    /* position: absolute; */
}
.feed{
    margin-right:2rem ;
    width: 59%;
    position: relative;
}
.rsb{
    margin-right:1rem ;
    width: 35%;
}